/* secondscreen.css */

/* Container for the entire component */
.container {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin: 20px auto;
  max-width: 800px;
}

/* Back button style */
.back-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.back-button:hover {
  background-color: #0056b3;
}

/* Movie details section */
.movie-details-s {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}


.movie-image-s img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.booking-details {
  flex: 1;
  padding-left: 20px;
}

.movie-name {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  font-size: 24px;
  margin-bottom: 10px;
}

/* Summary section */
.summary {
  margin-top: 20px;
  font-size: 16px;
  line-height: 1.5;
}

/* Button style */
.action-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.action-button:hover {
  background-color: #0056b3;
}
